header, footer{
    background-color:#eeac55;
}
header{
    min-height: 135px;
}

ul.nav{
    padding-left:20px;
}

/*.home-hero{
    max-width: 1000px;
    background: cornsilk;
    padding: 40px;
}*/

.footer-details{
    background-color: #eeac55;
}

.footer-details p{ 
    margin-bottom:0;
}
.footer-details h4{
    margin-bottom:20px;
}

.home-banner{
    background-image: url('images/pets-banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 720px;
}

.home-banner .lead{
    margin-bottom: 0;
    
}

.home-banner .btn{
    margin-top: 20px;
    
}

.home-banner *{
    font-family: cursive;
}

.home-banner h1.display-5 {
    font-size: 45px !important;
    margin-bottom: 40px !important;
} 

.aboutcarousel h1, .aboutcarousel p {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.aboutcarousel p {
    font-size: 20px;

}