header, footer{
    background-color:#eeac55;
}
header{
    min-height: 100px;
}

ul.nav{
    padding-left:20px;
}

/*.home-hero{
    max-width: 1000px;
    background: cornsilk;
    padding: 40px;
}*/

.footer-details{
    background-color: #eeac55;
}

.footer-details p{ 
    margin-bottom:0;
}
.footer-details h4{
    margin-bottom:20px;
}

.home-banner{
    background-image: url('images/pets-banner1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 720px;
}

.home-banner .lead{
    margin-bottom: 0;
    
}

.home-banner .btn{
    margin-top: 20px;
    
}

body *{
    font-family: Cambria;
}

.home-banner h1.display-5 {
    font-size: 45px !important;
    margin-bottom: 40px !important;
} 

.aboutcarousel h1, .aboutcarousel p {
    color: black;
}
.aboutcarousel p {
    font-size: 20px;

}

.list-unstyled li{
    margin-bottom: 5px;

}

.list-unstyled .py-3{   
    font-weight: bold;
}

.space {
    margin-top: 20px;
}

.pricecolor, .buttonnow {
    background-color: #BAB86C

}

.fixcolor, .fixbutton {
    background-color: #d8bad1

}

.foxcolor, .foxbutton {
    background-color: #76bcf2

}
.formcontainer {
    max-width: 800px;

}

.petdeets {
    padding-left: 60px;

}